node_modules
.next
out
build
.DS_Store
*.pem
npm-debug.log*
.env*
!.env.example
next-env.d.ts
.storage
prisma/dev.db
prisma/dev.db-journal
src/generated
tsconfig.tsbuildinfo
prisma/.generated
prisma/wf.db
prisma/wf.db-journal
prisma/wf.db-shm
prisma/wf.db-wal
